  <div class="large-12 columns menu no-padding">
     <%= image_tag("logo-4.png", :alt => "Logo Mirafloris", :class => 'logo') %>
    <div class="row">
    <nav class="top-bar">
      
              <ul class="title-area">
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>
              
              <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                
                  <li class="novo-bairro"><a href="#">NOVO BAIRRO</a></li>
                  
                  <li class="mais-acessivel" ><a href="#">ACESSÍVEL</a></li>
                  
                  <li class="mais-planejado" ><a href="#">PLANEJADO</a></li>
                  
                  <li class="saiba-mais" ><a href="#">SAIBA MAIS</a></li>
                  
                  <li class="realizacao" ><a href="#">REALIZAÇÃO</a></li>
                  
                </ul>
                <ul class="right social-media">
                  <li>
                    <div class="fb-like" data-href="https://www.facebook.com/MiraflorisTeresina" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                  </li>
                  <li>
                    <a href="https://twitter.com/Mirafloris" class="twitter-follow-button" data-show-count="false" data-lang="pt">Seguir @Mirafloris</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                  </li>
                </ul>
                 
              </section>

        </nav>
        </div>
  </div>
  <div class="large-12 columns message">
       <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div id="flash_<%= name %>" data-alert class="alert-box">
           <a href="#" class="close">&times;</a>
          <%= msg %>
        </div>
        <% end %>
      <% end %>
  </div>