
     <%= image_tag("logo-4.png", :alt => "Logo Mirafloris", :class => 'logo') %>
        <nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name"><h1><a href="#" >Mirafloris</a></h1></li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
   <ul class="left">
                
                  <li class="novo-bairro"><a href="#">NOVO BAIRRO</a></li>
                  
                  <li class="mais-acessivel" ><a href="#">ACESSÍVEL</a></li>
                  
                  <li class="mais-planejado" ><a href="#">PLANEJADO</a></li>
                  
                  <li class="saiba-mais" ><a href="#">SAIBA MAIS</a></li>

                  <li class="imagens" ><a href="#" data-reveal-id="images-apt">IMAGENS</a></li>

                  <li class="videos hide" ><a href="#">VÍDEOS</a></li>
                  
                  <li class="realizacao" ><a href="#">REALIZAÇÃO</a></li>
                  
                </ul>
                  <ul class="right social-media socialcount"  data-url="http://www.mirafloris.com.br">
                  <li class="facebook">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.mirafloris.com.br" title="Share on Facebook">
                      <span class="icon icon-facebook"></span>
                      <span class="count ">Curtir</span>
                    </a>
                  </li>

                  <li class="twitter ">
                    <a href="https://twitter.com/intent/tweet?text=http://www.mirafloris.com.br" title="Share on Twitter">
                      <span class="icon icon-twitter"></span>
                      <span class="count  ">Tweetar</span>
                    </a>
                  </li>

                </ul>

  </section>
</nav>


  <div class="large-12 columns message">
       <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div id="flash_<%= name %>" data-alert class="alert-box">
           <a href="#" class="close">&times;</a>
          <%= msg %>
        </div>
        <% end %>
      <% end %>
  </div>