  <div class="large-12 columns menu no-padding">
    <div class="row">
    <nav class="top-bar">
      
              <ul class="title-area">
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
              </ul>

              <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                  <li class="divider"></li>
                  <li class="active novo-bairro"><a href="#">NOVO BAIRRO</a></li>
                  <li class="divider"></li>
                  <li class="mais-acessivel" ><a href="#">ACESSÍVEL</a></li>
                  <li class="divider"></li>
                  <li class="mais-planejado" ><a href="#">PLANEJADO</a></li>
                  <li class="divider"></li>
                  <li class="saiba-mais" ><a href="#">SAIBA MAIS</a></li>
                  <li class="divider"></li>
                  <li class="realizacao" ><a href="#">REALIZAÇÃO</a></li>
                  <li class="divider"></li>
                </ul>
              </section>
        </nav>
        </div>
  </div>
  <div class="large-12 columns message">
       <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <div id="flash_<%= name %>" data-alert class="alert-box">
           <a href="#" class="close">&times;</a>
          <%= msg %>
        </div>
        <% end %>
      <% end %>
  </div>